<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Inicio | RH</title>
    <% include ../partials/bootstrap %>
  </head>

  <body>
    <% include ../partials/menu-rh %>
    <div class="container">
      <% include ../partials/_msgs %>
      <h1>Index de RH.</h1>
    </div>
  </body>
</html>
